{# templates/admin/base.html.twig #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css">
    <script src="https://kit.fontawesome.com/b9049baba7.js" crossorigin="anonymous"></script>
{% endblock %}
{% block body %}
<div class="container-fluid" data-controller="nav-toggle">
    <div class="row">
        <nav class="col-md-2 min-vh-100 p-0" id="admin_menu">
            <div class="d-flex align-items-center justify-content-between mb-2 py-3 px-2">
                <h5 class="text-white mb-0">
                    Doctofree Admin
                </h5>
            </div>
            <ul class="nav flex-column" id="menuAdmin">
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_dashboard') }}">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_cabinet_index') }}">
                        Cabinets
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_specialite_index') }}">
                        Spécialités
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_medecin_index') }}">
                        Médecins
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_medicament_index') }}">
                        Médicaments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_rendezvous_index') }}">
                        Rendez-vous
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="{{ path('app_admin_patient_index') }}">
                        Patients
                    </a>
                </li>
            </ul>
        </nav>
        {# Contenu principal #}
        <main class="col-md-10 offset-md-2 min-vh-100 px-0" id="adminPanel">
            <div id="bandeauAdmin" class="d-flex justify-content-between align-items-center p-3 shadow-sm">
                <div id="filAriane">
                    <a href="{{ path('app_admin_dashboard') }}">Admin</a> / {{ view }}
                </div>
                <div class="dropdown" id="userDropdown">
                    <div class="dropdown-toggle hoverHighlight" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ app.user.email }} <i class="fa-solid fa-user"></i>
                    </div>
                    <a class="text-danger" href="{{ path('app_logout') }}">
                        Déconnexion
                    </a>
                </div>
            </div>
            <div class="p-3" id="adminContent">
                {% block admin_content %}{% endblock %}
            </div>
        </main>
    </div>
</div>
<script type="importmap">
{
    "imports": {
        "ckeditor5": "https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.js",
        "ckeditor5/": "https://cdn.ckeditor.com/ckeditor5/43.3.1/"
    }
}
</script>
{% endblock %}