{% extends 'admin/base.html.twig' %}

{% block title %}Medecin index{% endblock %}

{% block admin_content %}
    <h1>Medecin index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Spécialités</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.id }}</td>
                <td>{{ medecin.nom }}</td>
                <td>{{ medecin.prenom }}</td>
                <td>
                    {{ medecin.specialites| join(', ') }}
                </td>
                <td>
                    <a href="{{ path('app_admin_medecin_show', {'id': medecin.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
