{% extends 'admin/base.html.twig' %}

{% block title %}Medecin{% endblock %}

{% block admin_content %}
    <h1>Medecin</h1>
    <div class="row">
        <div class="col-12 col-md-8">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ medecin.id }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td>{{ medecin.nom }}</td>
                    </tr>
                    <tr>
                        <th>Prenom</th>
                        <td>{{ medecin.prenom }}</td>
                    </tr>
                    <tr>
                        <th>Rpps</th>
                        <td>{{ medecin.rpps }}</td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td>{{ medecin.telephone }}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{ medecin.email }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 col-md-4">
            <h4>Cabinets</h4>
            {{ medecin.cabinets| join(', ') }}
        </div>
    </div>
    <a href="{{ path('app_admin_medecin_index') }}">back to list</a>

{% endblock %}
